// @media(min-width:$breakpoint-tablet-min) and (max-width:$breakpoint-tablet-max){}
// @media(min-width:$breakpoint-tablet-min)
// @media(max-width:$breakpoint-tablet-max){}
// @media(max-width:$breakpoint-mobile-max){}

.skilled {

    position: relative;
    z-index: 2;

    overflow-x: hidden;

    &__header {

        @include container;
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;

        &__logo {

            @media(min-width:$breakpoint-desktop-min) {
                width: 11.1rem;
            }

            @media(max-width:$breakpoint-tablet-max) {
                width: 8.9rem;
            }

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        &__nav {

            &__cta {

                @include buttonSmall;
                @include button;
                @include buttonColor01;
            }

        }

    }

    &__main {

        @media(max-width:$breakpoint-mobile-max) {
            margin-top: 1.6rem;
        }

        &__hero {


            position: relative;

            @media(min-width:$breakpoint-desktop-min) {
                @include container;
                padding-bottom: 11.8rem;
            }

            @media(min-width:$breakpoint-tablet-min) and (max-width:$breakpoint-tablet-max) {
                @include container;
                padding-bottom: 9.5rem;
            }

            &__txt {

                @media(min-width:$breakpoint-desktop-min) {
                    max-width: 45.7rem;
                    margin-top: 15.3rem;
                }

                @media(min-width:$breakpoint-tablet-min) and (max-width:$breakpoint-tablet-max) {
                    // max-width: 39.8rem;
                    max-width: 57.85%;
                    margin-top: 7.8rem;
                }

                @media(max-width:$breakpoint-mobile-max) {
                    @include container;
                }

                &__title {
                    @media(min-width:$breakpoint-desktop-min) {
                        @include heading_xl;
                    }

                    @media(max-width:$breakpoint-tablet-max) {
                        @include heading_l;
                    }

                }

                &__p {
                    @include body_m;

                    margin-top: 2.6rem;
                }

                &__cta {
                    @include button;
                    @include buttonBig;
                    @include buttonColor02;

                    @media(min-width:$breakpoint-desktop-min) {
                        margin-top: 4rem;
                    }

                    @media(max-width:$breakpoint-tablet-max) {
                        margin-top: 2.4rem;
                    }

                }

            }

            &__img {

                @media(min-width:$breakpoint-desktop-min) {
                    position: absolute;
                    width: 91.6%;
                    top: -40.5rem;
                    left: 51%;
                }

                @media(min-width:$breakpoint-tablet-min) and (max-width:$breakpoint-tablet-max) {
                    position: absolute;
                    // width: 69.8rem;
                    width: 90.8854%;
                    top: -26.8rem;
                    left: 37.6rem;
                }



                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }

            }

        }

        &__cards {

            @include container;




            position: relative;
            z-index: 1;

            @media(min-width:$breakpoint-desktop-min) {
                row-gap: 5.6rem;
                margin-top: 11rem;
            }

            @media(min-width:$breakpoint-tablet-min) and (max-width:$breakpoint-tablet-max) {
                row-gap: 3.2rem;
                margin-top: 9.3rem;
            }

            @media(min-width:$breakpoint-tablet-min) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            &__item {

                border-radius: 1.5rem;
                box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);

                display: flex;
                flex-direction: column;

                @media(min-width:$breakpoint-desktop-min) {
                    flex-basis: calc((100% - 6rem)/3);
                }

                @media(min-width:$breakpoint-tablet-min) and (max-width:$breakpoint-tablet-max) {
                    flex-basis: calc((100% - 1rem)/2);
                }

                &:first-child {

                    @media(min-width:$breakpoint-tablet-min) {
                        margin-top: 2.6rem;
                    }

                    .skilled__main__cards__item__content {

                        background: $Gradient_01;

                        @media(max-width:$breakpoint-mobile-max) {
                            padding-top: 2.4rem;
                        }

                        .skilled__main__cards__item__content__title {

                            @media(min-width:$breakpoint-desktop-min) {
                                @include heading_m;
                            }

                            @media(min-width:$breakpoint-tablet-min) and (max-width:$breakpoint-tablet-max) {
                                @include heading_s;
                                line-height: 3.2rem;
                            }

                            color: #fff;
                        }

                    }
                }

                &:not(:first-child) {
                    @media(max-width:$breakpoint-mobile-max) {
                        margin-top: 1.6rem;
                    }
                }

                &__icon {
                    width: 5.6rem;
                    margin-left: 3.2rem;
                    margin-bottom: -3.2rem;
                    position: relative;
                }

                &__content {
                    background-color: #fff;

                    border-radius: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    flex: 1;

                    @media(min-width:$breakpoint-desktop-min) {
                        padding: 6.4rem 3.2rem 4rem;
                    }

                    @media(min-width:$breakpoint-tablet-min) and (max-width:$breakpoint-tablet-max) {
                        padding: 5.6rem 2rem 3.2rem 3.2rem;
                    }

                    @media(max-width:$breakpoint-mobile-max) {
                        padding: 5.6rem 2.8rem 3.2rem;
                    }



                    &__title {
                        @include heading_s;
                        color: $Yankees_Blue;

                        @media(max-width:$breakpoint-tablet-max) {
                            font-size: 2rem;
                            line-height: 2.5rem;
                        }
                    }

                    &__p {
                        @include body_m;
                        color: $Roman_Silver;

                        @media(min-width:$breakpoint-desktop-min) {
                            margin: 2.4rem 0;
                        }

                        @media(max-width:$breakpoint-tablet-max) {
                            margin: 1.6rem 0 2.4rem;
                        }

                    }

                    &__cta {
                        @include body_m;
                        font-weight: 700;
                        color: $Sasquatch_Socks;
                        margin-top: auto;
                        display: block;

                        @media(max-width:$breakpoint-tablet-max) {
                            font-size: 1.8rem;
                            line-height: 2.8rem;
                        }
                    }
                }

            }

        }

    }

    &__footer {

        @media(min-width:$breakpoint-desktop-min) {
            margin-top: 14rem;
        }

        @media(min-width:$breakpoint-tablet-min) and (max-width:$breakpoint-tablet-max) {
            margin-top: 8.6rem;
        }

        @media(max-width:$breakpoint-mobile-max) {
            margin-top: 8rem;
        }



        &__bg {
            background-color: $Yankees_Blue;
        }

        &__cnt {

            @include container;

            display: flex;
            justify-content: space-between;
            align-items: center;

            @media(min-width:$breakpoint-desktop-min) {
                padding-top: 3.2rem;
                padding-bottom: 3.2rem;
            }

            @media(max-width:$breakpoint-tablet-max) {
                padding-top: 3.6rem;
                padding-bottom: 3.6rem;
            }

            &__logo {

                @media(min-width:$breakpoint-desktop-min) {
                    width: 11.1rem;
                }

                @media(max-width:$breakpoint-tablet-max) {
                    width: 8.9rem;
                }

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }

            &__nav {

                &__cta {

                    @include buttonSmall;
                    @include button;
                    @include buttonColor03;
                }

            }

        }

    }

    &__bg {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 12rem;

        background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);

        @media(min-width:$breakpoint-desktop-min) {
            height: 88.8rem;
        }

        @media(min-width:$breakpoint-tablet-min) and (max-width:$breakpoint-tablet-max) {
            margin-top: 100rem;
        }

        @media(max-width:$breakpoint-mobile-max) {
            height: 169.5rem;
        }

        
    }

}